body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(47, 144, 255);
    font-size: 35px;
}
.container{
    text-align: center;
    background-color: rgb(142, 224, 251);
    padding: 30px;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    
}
h1{
    font-size: 35px;
    font-weight: bolder;
    margin-top: 30px;
}
span{
    color: black;
}
button{
    background-color: hotpink;
    color: whitesmoke;
    border: 2px solid honeydew;
    box-shadow:0  5px 8px black ;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: relative;
    margin-top: 8%;
    width: 120px;
    height: 60px;
    font-size: 18px;
   
}
button:hover{
    background-color:#a969c9;
    color: white;
}
